body{
    background-color: transparent;
}




#head{
    display: flex;
    text-align: center;
    justify-content: center;
}
#showscore{
  position: absolute;
  top: 0px;
  right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

#inputfield{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#inpdiv{
    display: flex;
    justify-content: center;
}

#div1{
    display: flex;
    justify-content: center;
}
#wrongarray{
    display: flex;
    justify-content: center;
}

#totalwins{
    position:absolute;
    top: 0px;
    left: 10px;
}