body{
    background-color: transparent;
}

#game-result{
    display: flex;
    justify-content: center;
}


#head{
    display: flex;
    text-align: center;
    justify-content: center;
}
#score{
  position: absolute;
  top: 0px;
  right: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

#input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#inpdiv{
    display: flex;
    justify-content: center;
}

#game-word{
    display: flex;
    justify-content: center;
}
#wrong-chars{
    display: flex;
    justify-content: center;
}

#total-wins{
    position:absolute;
    top: 0px;
    left: 10px;
}

#game-word > span{
    margin: 5px;
}
#correct-word{
    display: flex;
    justify-content: center;
    text-align: center;
}


